.sidebar{
    list-style-type: none;
    margin: 0;
    padding:25% 0 25% 0;
    width: 100%;
    background-color: #f1f1f1;
}
.sidebar li a {
    width:inherit;
    display: block;
    color: #000;
    padding: 2px 5px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }